<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Reza Dadkhah">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-15">
	<title>Gisoo</title>
	<meta name="description" content="Gisoo Description">
	<link rel="manifest" href="./manifest.json">
   
	<link rel="shortcut icon" href="~/images/barbershop2.png" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="512x512" href="~/HomeContent/assets/img/icon-512.png">
	<link rel="apple-touch-icon" sizes="192x192" href="~/HomeContent/assets/img/icon-192.png">
	<link rel="apple-touch-icon-precomposed" href="~/HomeContent/assets/img/icon-192.png">
	<link rel="icon" sizes="192x192" href="~/HomeContent/assets/img/icon-192.png">
	<meta property="og:site_name" content="Gisoo">
	<meta property="og:title" content="Gisoo">
	<meta property="og:image" content="">
	<meta property="og:url" content="https://www.gisoo.ir">
	<meta property="article:author" content="http://facebook.com/gisoo">
	<!-- Main Style -->
	<link href="~/HomeContent/assets/css/styles.css" async defer rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="~/HomeContent/assets/js/header-bundle.js"></script>
</head>
<body class="no-header">

    @RenderBody()
    <footer class="main-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-5">
                    <div class="main-footer__item">
                        <div class="main-footer__item__title">
                            <h3>درباره ما</h3>
                        </div>
                        <div class="main-footer__item__content">
                            <p>اپ گیسو (کاریابی و تامین نیروی انسانی)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="main-footer__item">
                        <div class="main-footer__item__title">
                            <h3>اطلاعات</h3>
                        </div>
                        <div class="main-footer__item__content">
                            <ul>
                                <li>
                                    <a href="/CustomerHome/ContactUs">تماس با ما</a>
                                </li>
                                <li>
                                    <a href="/CustomerHome/AboutUs">درباره ما</a>
                                </li>
                                <li>
                                    <a href="/CustomerHome/Rule">قوانین و مقررات</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="main-footer__item">
                        <div class="main-footer__item__title">
                            <h3>نماد ها</h3>
                        </div>
                        <div class="main-footer__item__awards">
                            <div class="w-50">
                                <a target="_blank" href="https://cafebazaar.ir/app/ir.talebi.gisooapp">
                                    <img src="~/images/bazaar.png" />
                                </a>
        </div>
               
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer__copyright">
                <p>کلیه حقوق مادی و معنوی این سایت متعلق به گیسو میباشد.</p>
                <p>طراحی و توسعه: <a target="_blank" href="http://atrincom.com/">آترین فناوران</a></p>

            </div>
        </div>
    </footer>
    <script src="~/HomeContent/assets/js/footer-bundle.js"></script>
    <script src="~/HomeContent/assets/js/footer-base-bundle.js"></script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
   
</body>
</html>
