@model Gisoo.ViewModel.LineViewModel
<link href="~/HomeContent/assets/css/styles.css" async defer rel="stylesheet">
<script src="~/js/Common.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<div class="profile__content__header">
    <span>فرم ثبت لاین</span>
</div>
<div class="profile__content__form">
    <p class="text text-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </p>
    <form id="frmLine" action="RegisterLine" method="post" enctype="multipart/form-data">
        <div class="row" data-space="20">
            <div class="col-xl-8 offset-xl-2">
                <div class="profile__content__form__wrapper">
                    <input asp-for="id" hidden>
                    <div class="form-group">
                        <label>عنوان</label>
                        <input type="text" class="form-control" asp-for="title" placeholder="عنوان را وارد کنید">
                        <input type="text" class="form-control" asp-for="minDiscount" hidden>
                        <input type="text" class="form-control" asp-for="maxDiscount" hidden>
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>توضیحات</label>
                        <input asp-for="description" type="text" class="form-control" placeholder="توضیحات را وارد کنید">
                        <span asp-validation-for="description" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label>نوع هزینه</label>
                        <select class="form-control" asp-for="lineLaw">
                            <option value="">انتخاب کنید</option>
                            <option value=1>اجاره</option>
                            <option value=2>درصدی</option>
                            <option value=3>حقوقی</option>
                        </select>
                        <span asp-validation-for="lineLaw" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label>درصد یا قیمت یا قیمت اجاره</label>
                        <input type="text" class="form-control" asp-for="price" placeholder="قیمت را وارد کنید">
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>مقدار تخفیف</label>
                        <input type="number" asp-for="discountPrice" class="form-control input-validation-error"  data-val="true" data-val-range="" max="" min=""  id="discountPrice"   >
                        <span asp-validation-for="discountPrice" id="discountSpan" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label>نوع</label>
                        <select class="form-control" asp-for="lineTypeId">

                            @foreach (var item in Model.LineTypes)
                            {
                                if (item.id == Model.lineTypeId)
                                {
                                    <option selected value=@item.id>@item.name</option>
                                }
                                else
                                {
                                    <option value=@item.id>@item.name</option>

                                }

                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="file.click()"><i class="fa fa-camera"></i>انتخاب عکس</button>
                        <input display="Image" id="file" name="file" class="TheFile" onchange="SetPictures('file','ImageItems');" style="display:none" multiple type="file">
                        <div id="ImageItems" style="margin-top:10px">

                        </div>
                    </div>
                    @if (Model.LineImage != null && Model.LineImage.Count() > 0)
                    {
                        <div class="form-group">
                            <label>عکس ها</label>
                            <div id="RemoveImageItems" class="row" style="margin-top:10px;padding:10px">
                                @foreach (var item in Model.LineImage)
                                {
                                    <div id=@item.id style="justify-content:center;align-items:center"><img src="/wwwroot/Line/File/@item.url" style="width: 70px; margin-right:10px;height: 60px;" id="@item.id" /><button type="button" style="margin-right:5px" class="btn  btn-danger btnremovefile">حذف</button></div>
                                }
                            </div>
                        </div>
                    }
                    <div class="form-group form-group-btn">
                        <button type="submit" class="btn">ثبت</button>

                        <button type="button" onclick="showAllLine();" class="btn" style="margin-top:3px">انصراف</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
	$('#RemoveImageItems').on('click', '.btnremovefile', function () {
		
	    RemoveFiles('RemoveImageItems', '/CustomerHome/RemoveFile', 'Id', $(this).closest('div').attr("id"));
	    $(this).closest('div').html('');
		  });
</script>
