@model Gisoo.ViewModel.ArticleListViewModel
@using Gisoo.Utility
@foreach (var item in Model.Articles)
{
    <div class="cat-blog__list">
        <div class="cat-blog__list__img">
                <a href="/CustomerHome/ArticleDetail/@item.id/@item.title.Replace(' ', '-')"><img src="/wwwroot/images/Article/@item.imageUrl"></a>
        </div>
        <div class="cat-blog__list__desc">
            <div class="cat-blog__list__desc__title">
                <h2>  <a href="/CustomerHome/ArticleDetail/@item.id/@item.title.Replace(' ', '-')">  @item.title</a> </h2>
            </div>
            @if (!String.IsNullOrEmpty(item.description))
            {
                <div class="cat-blog__list__desc__text">
                    @if (item.description.Length > 20)
                    {
                        <p> @item.description.Substring(0, 20)</p>
                    }
                    else
                    {
                        <p> @item.description</p>

                    }
                </div>
            }

           
        </div>

    </div>
}